---
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main class="container mx-auto mt-10 max-w-5xl px-4">
		<Welcome />
	</main>
</Layout>
