---
import Hero from '../components/Hero.astro'
import Myfooter from '../components/Myfooter.astro'
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
		<header class="mt-8">
			<Hero />
			<hr class="my-6 border-zinc-800" />
		</header>
		<main>
			<Welcome />
		</main>
		<footer>
			<Myfooter />
		</footer>
	</div>
</Layout>
