---

---

<div class="container mx-auto max-w-4xl p-6">
	<div class="space-y-4">
		<h1 class="text-2xl font-bold text-zinc-100 drop-shadow-lg md:text-6xl">Astro Starter</h1>

		<p class="text-base leading-relaxed md:text-2xl">
			Bem-vindo ao meu Starter Kit <span class="font-bold text-amber-400"
				>Astro + TailwindCSS + Prettier</span
			>.
		</p>
	</div>
</div>
