---

---

<div class="container mx-auto max-w-4xl p-6">
	<p class="text-sm text-amber-400">
		Desenvolvido com ❤️ por <a
			class="underline hover:text-amber-500"
			href="https://github.com/mourodev"
			target="_blank"
			rel="noopener noreferrer">Mouro Dev</a
		>
	</p>

	<p class="text-sm text-zinc-300">
		&copy; {new Date().getFullYear()} Todos os direitos reservados.
	</p>
</div>
