<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Inicie seus projetos frontend com Astro, TailwindCSS e Prettier já configurados. Um starter kit minimalista para desenvolvedores modernos."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Astro Starter - Modelos Minimalistas para Frontend" />
		<meta
			property="og:description"
			content="Inicie seus projetos frontend com Astro, TailwindCSS e Prettier já configurados. Um starter kit minimalista para desenvolvedores modernos."
		/>
		<meta property="og:url" content="https://seusite.com" />

		<meta name="robots" content="index, follow" />
		<title>Astro Starter - Modelos Minimalistas para Frontend</title>
	</head>
	<body class="bg-dark-moss-green text-pale-taupe" aria-label="Página inicial do Astro Starter">
		<slot />
	</body>
</html>
